<article class="card-collection">
    <img class="card_collection-img" width="600px" height="840px" src="https://s3-alpha-sig.figma.com/img/ad9c/d55b/08cf35cdef25b1b91c9267cde6c2da60?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NY2GOvJ9iyqR3~Mvi2iXWPq7dGT4y9u5mQ8vwiDV~v7KzWOcZz7xQdaWFE5yNDDhlXeZyUULnKFGTwqHBuNrn37QHmAKMYMa~1~v~mfJwduoZvKVeurquHjGgFAtkWLaKmPy7AEMAmXjB52Rcafb9zT0WmRWIDppWmtaQkewphASFpGGegw7laK~fJq-wlqsZFe1~V42M8FDkaN8CTRtZceazPaAeZ9OxvAEnd9ebpn0FJULsbNmnOrGpgpO6bAl13ENQ00SwkIitvb-CR~~9YmRihEidPZrjCjzv1VaNdjuI1a5QxN4uA2P2ioUqIt0u8C3XeD3D8XXKPeBV~fTAQ__" alt="">
    <div class="card-collection_link">
        <a href="" class="btn">Pants </a>
    </div>
</article>
<article class="card-collection">
    <img class="card_collection-img" width="600px" height="550px" src="https://s3-alpha-sig.figma.com/img/73e1/4e49/4a3e57253a1e3434e22de58928784b6f?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MGeDeYpFKjJezIOOxYaokxJ0JqomhYoxpGt2kVegfBo50kslRMC-8u7St95Abx1Tm6znY~tVRRFTcaOg6yJfyV7gZg7HUyxi-7K1irpuJjMPAPN1plrW0M20Me4FjQaCNdUytnZ~dEF3U-8T5yhK6Qg2cq5~6c9gdKn8ecognQXDm27XejnOhssttUypb6z~s22iKtJCm3bqkmK7Q3seY5QBJwTU20Pyu7eodi-dnomNqc4iKJipPivP2RnGhTAAOmYhFjFSDZanv7FOE7gi6LgtQ1P7i2CZhyBAitbRfi-d2I0whkfODi6akyFyu899xdfCQrEXtn8~FyS1rx6G2g__" alt="">
    <div class="card-collection_link">
        <a href="" class="btn">Outwear </a>
    </div>
</article>