<article class="card-collection">
    <img class="card_collection-img" width="600px" height="550px" src="https://s3-alpha-sig.figma.com/img/7d6e/011d/637d8076f450d0748072279f5cc2048f?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ly3DOzGlmXHKY76bBR~iTPxr1EWrGBKj1tUZzalC9~FT-n7gRX6O1mQGVTbugK5~ZRejZfS~glBulLtSDnjyX27OMMp-Trit8Dk8cjKn3XxT4EnABmwb5PMSm72M4TwmZ0kmW-heJAEV8QZmFJqq1GAiYNpoHMujH~nfqIa5I6BdcywjlnonJLBLwemOWVV3IUhsODDFyzfss8I992NKQuet6wXtXx-b0ZS2QO9Sxvq2h8RS0xHeZEqBFzNMsC9VOej64JYtM8A-w-OoH1VqCtzWlg61-0Cp9pSzU8AomOInfGH5YrlMfrFWe~V6oRgmWnvIIK8l8sJCMdkCG6feJA__" alt="">
    <div class="card-collection_link">
        <a href="" class="btn">Blouses </a>
    </div>
</article>
<article class="card-collection">
    <img class="card_collection-img" width="600px" height="837px" src="https://s3-alpha-sig.figma.com/img/e1eb/aac7/132efdc745cc3cbc6bead99ab9a90c31?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Ra0T4ZpUAlz0Cz0XnN6z8fN~hVFQbveN62QYP7cFbECJhK3fpUvwu6emvME732894MYmkkOZLUzAD-vZ0QTRfEj5cmCY04bWcQVSlygcFAnBTQncPluYlzagT12NLxDpChRuo0dXZGAMvd2rduoEeho2rbPAyb4ENz65CAcyrrwN6Nwl079pB6VcF7mnvbYX3GFZqDWNuWp2N5ZIqg2ps0R6akV6Dp5xGwoS5q~6HvdNYCdyYQQSjV6Oktm8RiQwM0~Onzo6bp9cUd0cGS2dDiw16z0JQLYq3DiS9J2ekmtX8KlbOOAa~aww~KD46c5TpY14SRtlz2nUNlRvFInj9g__" alt="">
    <div class="card-collection_link">
        <a href="" class="btn">Dresses </a>
    </div>
</article>


